<!-- ---------------header--------------- -->
<header class="header">
  <a href="/">
    <img class="header__logo" src="logo.png" alt="" />
  </a>
  <a href="/welcome">
    <button class="button header__button header__button-sign-up">
      <i class="fas fa-user-plus header__i"></i> sign in/up
    </button>
  </a>

  <button class="button header__button header__button-sign-up-s">
    <i class="fas fa-user-plus header__i"></i>
  </button>

  <!-- Search form -->
  <form action="/search-product" method="GET" class="search-bar">
    <div>
      <button class="button header__button header__button-search">
        <i class="fas fa-search search-icon header__i"></i>
      </button>
      <input
        type="text"
        class="search-bar__input"
        placeholder="Search By Category.."
        aria-label="Search"
        name="search"
      />
    </div>
  </form>
</header>
