* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background: linear-gradient(45deg, #49d49d 10%, #a2c7e5 90%);
  color: white;
}
.product-card__head {
  text-transform: capitalize;
  margin: 10px 10px 2px 10px;
  letter-spacing: 1px;
  font-weight: bold;
}
.product-card__catogary {
  color: black;
  opacity: 0.6;
  text-transform: capitalize;
  font-size: 12px;
}
.product-card__description , .product-card__post-date {
  color: black;
  opacity: 1;
  font-size: 12px;
  text-align: center;
}
 .product-card__post-date {
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 14px;
  }
.product-card {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 290px;
  height: 400px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 2px 10px 10px black;
  text-align: center;
  align-content: center;
  justify-content: center;
}
/* .banner-content__title
{
  align-items: 
} */
.product-card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
}
.product-card-outer-1 {
  position: absolute;
  top: 62.5%;
  width: 100%;
  height: 37.5%;
  background: transparent;
  opacity: 1;
  color: black;
}
.product-card-outer-2 {
  position: absolute;
  top: 77.5%;
  width: 100%;
  height: 22.5%;
  background: transparent;
  opacity: 0;
  color: black;
}
.product-card-outer-3 {
  position: absolute;
  top: 82.5%;
  width: 100%;
  height: 17.5%;
  background: transparent;
  color: black;
}
.product-card-outer-4 {
  position: absolute;
  top: 82.5%;
  width: 100%;
  height: 17.5%;
  background: transparent;
  opacity: 0;
  color: black;
}
.product__image {
  width: 100%;
  height: 250px;
}
.product-card__label {
  position: absolute;
  font-size: 18px;
  font-weight: bold;
  top: 29.5%;
  right: 0;
  left: 0;
}
.product-card__button {
  width: 1%;
  float: left;
  height: 60px;
  color: black;
  border: none;
  background-color: #49d49d;
  font-size: 15px;
  font-weight: bold;
}
.product-card__button-2 {
  position: absolute;
  width: 1%;
  left: 0px;
  height: 60px;
  color: transparent;
  border: none;
  background-color: #49d49d;
  font-size: 15px;
  font-weight: bold;
  z-index: 30;
}
.product-card:hover .product-card__label {
  z-index: 100;
  animation: move 0.2s ease-in both;
}
.product-card:hover .product-card__button {
  animation: expand 0.1s ease both;
}
.product-card:hover .product-card__button-2 {
  background-color: #a2c7e5;
  animation: expand 0.3s ease both 0.1s;
}

.product-card:hover .product-card-inner {
  animation: blur 0.6s ease both;
}
.product-card:hover .product-card-outer-1 {
  animation: pop-up-1 0.5s ease both;
}
.product-card:hover .product-card-outer-2 {
  opacity: 1;
  animation: pop-up-2 0.8s ease-out both;
}
.product-card:hover .product-card-outer-4 {
    opacity: 1;
    animation: pop-up-3 0.4s ease-out both;
  }
@keyframes pop-up-1 {
  0% {
    top: 62.5%;
  }
  100% {
    top: 27.5%;
  }
}
@keyframes pop-up-2 {
  0% {
    top: 77.5%;
  }
  100% {
    top: 60.5%;
  }
}
@keyframes pop-up-3 {
    0% {
      top: 77.5%;
    }
    100% {
      top: 1.5%;
    }
  }
@keyframes blur {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
@keyframes expand {
  0% {
    width: 1%;
    color: transparent;
  }
  100% {
    width: 100%;
    color: black;
  }
}
@keyframes move {
  0% {
    font-size: 14px;
    left: 0px;
  }
  100% {
    font-size: 14px;
    right: 70%;
    top: 32.5%;
    opacity: 0.8;
  }
}
