*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-size: 200% 100% !important;
    background: linear-gradient(45deg, #49d49d 10%, #a2c7e5 90%);
    color: white;
}

.user{
    width: 90%;
    max-width: 540px;
    margin: 10vh auto;
}
.user__header{
    text-align: center;
    /* opacity: 0; */
}
.user__title{
    font-size: 14px;
    margin-bottom: -10px;
    font-weight: 500;
    color: white;
}
.form{
    margin-top: 40px;
    border-radius: 6px;
    overflow: hidden;
    /* opacity: 0; */
}
.form__input{
    display: block;
    width: 100%;
    padding: 20px;
    font-family: 'Roboto', sans-serif;;
    border: 0;
    outline: none;
}
.input-file-wrap{
    position: relative;
}
.input-file__label{
    display: inline-block;
    padding: 20px;
    width: 100%;
    cursor: pointer;
    background-color: white;
    font-size: 14px;
}
.form__input-file{
    font: black;
    position: absolute;
    z-index: -1;
    top: 6px;
    left: 0;
}
.form__input:focus{
    background: rgb(235, 234, 234);
}
.form__input:hover{
    background: rgb(235, 234, 234);
}
.input-file__label:hover{
    background: rgb(235, 234, 234);
}
.input-file__label:focus{
    background: rgb(235, 234, 234);
}
.form__button{
    display: block;
    width: 100%;
    padding: 20px;
    font-family:'Roboto', sans-serif;
    text-align: center;
    outline: 0;
    border:0;
    background:  #29b1a5;
    color: white;
}
.form__button-back
{
    position: relative;
    float: left;
    padding: 12px 45px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    outline: 0;
    border: 0;
    background-color: #29b1a5;
    border-radius: 20px;
    color: white;
    margin: 20px;
}
.form__button-back:hover{
    background: #279b91;
    transform: scale(1.1);
}
.form__button:hover{
    transform: scale(1.1);
    background: #279b91;
}


